.mud-markdown-body code {
	background: var(--mud-palette-overlay-dark);
	color: var(--mud-palette-text-primary) !important;
	padding: 2.5px 7.5px;
	border-radius: 5px;
}

.mud-markdown-body blockquote {
	border-left: .25em solid var(--mud-palette-text-disabled);
	color: var(--mud-palette-text-secondary);
	background-color: var(--mud-palette-drawer-background);
	padding: 0.25em 1em;
}

.mud-markdown-body table {
	margin: 1.25em 0;
}