@using MudBlazor.Markdown.Core.Services

<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(MarkdownPage).Assembly }">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
	</Found>
	<NotFound>
		<LayoutView Layout="@typeof(MainLayout)">
			<p>Sorry, there's nothing at this address.</p>
		</LayoutView>
	</NotFound>
</Router>

<MudThemeProvider IsDarkMode="_isDarkTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code
{
	private bool _isDarkTheme;

	[Inject]
	private IThemeService? ThemeService { get; init; }

	protected override void OnInitialized()
	{
		ThemeService?.IsDarkTheme
			.Subscribe(x =>
			{
				_isDarkTheme = x;
				Task.Run(() => InvokeAsync(StateHasChanged));
			});
	}
}
