@using MudBlazor.Markdown.Core.Services
@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	<MudAppBar Fixed="true" Elevation="5">
		<MudText Typo="Typo.h4">SSR sample</MudText>
		<MudSpacer />
		<MudTooltip Text="Toggle theme">
			<MudIconButton Icon="@Icons.Material.Rounded.Brightness4" Color="Color.Inherit" OnClick="@ToggleThemeAsync" />
		</MudTooltip>
	</MudAppBar>
	
	<MudMainContent>
		<MudContainer Class="pt-2 pb-5">
			@Body
		</MudContainer>
	</MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
	[Inject]
	private IThemeService? ThemeService { get; init; }

	private async Task ToggleThemeAsync()
	{
		if (ThemeService == null)
			return;

		await ThemeService.ToggleThemeAsync()
			.ConfigureAwait(false);
	}
}
