/* Code */
.mud-markdown-body code:not(.hljs) {
	background: var(--mud-palette-action-disabled-background);
	color: var(--mud-palette-text-primary) !important;
	padding: 2.5px 7.5px;
	border-radius: 5px;
}

/* This component is public, so apply styling in all places, not only within mud-markdown-body */
pre code.hljs {
	display: block !important;
	overflow-x: auto;
	padding: 1em;
	width: 100%;
}

.mud-markdown-body .mud-markdown-code-highlight {
	position: relative !important;
}

.mud-markdown-body .mud-markdown-code-highlight:hover > .mud-markdown-code-highlight-copybtn {
	display: block !important;
}

.mud-markdown-code-highlight-copybtn {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
}

.mud-markdown-code-highlight-sticky pre code.hljs {
	padding-top: 0 !important;
}

.mud-markdown-body .mud-markdown-code-highlight-sticky .mud-markdown-code-highlight-copybtn-sticky {
	position: sticky;
	overflow: hidden;
	z-index: calc(var(--mud-zindex-appbar) - 2);
	top: calc(var(--mud-appbar-height) + 16px);
	float: right;
}

/* Quote */
.mud-markdown-body blockquote {
	border-left: .25em solid var(--mud-palette-text-disabled);
	color: var(--mud-palette-text-secondary);
	background-color: var(--mud-palette-table-hover);
	padding: 0.25em 1em;
	margin: 0.5em 0 1.25em;
}

.mud-markdown-body blockquote p {
	margin-bottom: 0 !important;
}

/* Table */
.mud-markdown-body table {
	margin: 1.25em 0;
}

.mud-markdown-body table p {
	margin-bottom: 0 !important;
}

/* Link */
.mud-markdown-body .mud-link:hover {
	cursor: pointer !important;
}

/* List */
.mud-markdown-body ul {
	list-style-type: disc;
}

.mud-markdown-body ul, .mud-markdown-body ol {
	padding-left: 2em;
	margin-bottom: 1.25em !important;
}

.mud-markdown-body ul ul {
	list-style-type: circle;
	margin-bottom: 0 !important;
}

.mud-markdown-body ul ul ul {
	list-style-type: square;
	margin-bottom: 0 !important;
}

.mud-markdown-body li {
	display: list-item !important;
	text-align: -webkit-match-parent;
}

/* Headers */
.mud-markdown-body h1, .mud-markdown-body h2 {
	border-bottom: 1px solid var(--mud-palette-text-disabled);
	padding-bottom: 0.125em;
	margin-bottom: 0.4em;
}

.mud-markdown-body h1, .mud-markdown-body h2, .mud-markdown-body h3, .mud-markdown-body h4, .mud-markdown-body h5, .mud-markdown-body h6 {
	scroll-margin-top: 5rem;
	margin-top: 0.25em;
	word-wrap: break-word;
	margin-bottom: 0.3em !important;
}

.mud-markdown-body .mud-divider {
	margin: 0.5em 0;
	height: 0.25em;
}

/* Paragraphs */
.mud-markdown-body p {
	margin-bottom: 1.25em !important;
}

.mud-markdown-body li p, .mud-markdown-body .mud-expand-panel p {
	margin-bottom: 0 !important;
}

.mud-markdown-body p .mud-markdown-error {
	white-space: pre;
}

/* Images */
.mud-markdown-body img {
	max-width: 100%;
}

/* Table of contents */
.mud-markdown-toc {
	position: relative;
}

.mud-markdown-toc-drawer {
	position: sticky;
	overflow: hidden;
	z-index: calc(var(--mud-zindex-appbar) - 2);
	top: calc(var(--mud-appbar-height) + 16px);
	float: right;
}

.mud-markdown-toc-drawer-content {
	width: var(--mud-drawer-width-right);
	opacity: 0;
	visibility: collapse;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.mud-markdown-toc-drawer-content.open {
	opacity: 1;
	visibility: visible;
}

.mud-markdown-toc-content {
	margin-right: 0;
	transition: margin-left 0.3s ease;
}

.mud-markdown-toc-content.open {
	margin-right: calc(var(--mud-drawer-width-right) + 16px);
}

.mud-markdown-toc-btn-toggle {
	position: absolute;
	right: 0;
	z-index: calc(var(--mud-zindex-appbar) - 1);
}

.mud-markdown-toc-nav-menu .mud-nav-link {
	padding: 4px 16px !important;
}

.mud-markdown-toc-nav-menu .mud-nav-link-h2 .mud-nav-link-text {
	margin-left: 20px !important;
}

.mud-markdown-toc-nav-menu .mud-nav-link-h3 .mud-nav-link-text {
	margin-left: 28px !important;
}

.mud-markdown-toc-nav-menu .mud-nav-item {
	border-left: 4px solid var(--mud-palette-text-disabled);
}

.mud-markdown-toc-nav-menu .mud-nav-item.active {
	border-left-color: var(--mud-palette-primary) !important;
	color: var(--mud-palette-primary) !important;
}
